@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Didact+Gothic&family=Kaushan+Script&family=Lilita+One&family=Lobster&family=Merriweather&family=Montserrat:wght@100;400&family=Oleo+Script&family=Questrial&family=Silkscreen&family=Splash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------- CSS BIENVENIDA ----------------------------- */

.fondo-bienvenida {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #f5e5e4;
    position: absolute;
    top: 0%;
    z-index: 50;
}

.frase-bienvenida {
    position: absolute;
    z-index: 150;
    top: 45%;
    left: 33%;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 70px;
}

/* -------------------------------- CSS HEADER ------------------------------- */

.rectangulo {
    width: 100%;
    height: 100px;
    background-color: #f4c1c0;
    position: absolute;
    z-index: 100;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;

}



.logo {
    width: 8%;
    border-radius: 300px;
    position: absolute;
    top: 30%;
    left: 45%;
    z-index: 150;
}


.navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 10em;
    padding-top: 10em;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
}

nav ul li a {
    color: #f4c1c0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a:hover {
    color: #975C58;
    transition: .3s;
}

/* ---------------------- INICIO QUIENES SOMOS CELULAR ---------------------- */



.header-index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4c1c0;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 0;
    width: 100%;
}

.text-header {
    font-weight: bold;
    color: #975C58;
    font-size: 30px;
    margin: auto;
}

.img-header {
    width: 100%;
    z-index: 1;
}

.textos-quienesomoscel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em;
}

.tittle-quienesomoscel {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: #975C58;
}

.parrafo-quienesomoscel {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #3E3E3E;
    padding-top: 1em;
}

.btn-reservacel a {
    text-decoration: none;
    color: #fff;
}

.btn-reservacel {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #827777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

@media (min-width: 320px) and (max-width: 1280px) {



    .rectangulo {
        display: none;
    }


    .logo {
        display: none;
    }



}

/* ------------------- FIN QUIENES SOMOS CELULAR ------------------ */

/* ------------------- INICIO QUIENES SOMOS DESKTOP ------------------ */



@media (min-width: 1280px) and (max-width: 3000px) {

    .img-header {
        position: absolute;
        top: 0%;
        width: 50%;
        max-height: 100vh;
    }

    .textos-quienesomoscel {
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 60%;
        top: 45%;
        right: 5%;
        margin: 3em;
    }


    .parrafo-quienesomoscel {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #3E3E3E;
        padding-top: 1em;
    }

    .header-index {
        position: absolute;
        top: 20%;
        left: 60%;
        background-color: #fff;

    }

    .text-header {
        padding-bottom: 6px;
    }

    .btn-wsp {
        position: fixed;
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 30px;
        right: 30px;
        background-color: #0df053;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        z-index: 100;
    }
    
    .btn-wsp:hover {
        text-decoration: none;
        color: #0df053;
        background-color: #fff;
    }

}






/* ------------------- FIN QUIENES SOMOS DESKTOP ------------------ */






/* ------------------------------ QUIENES SOMOS ----------------------------- */

/*.section-quienesomos {
    min-height: 100vh;
    min-width: 100vw;
}

.textos-quienesomos {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 60%;
    top: 45%;
    right: 5%;
    margin: 3em;
}

.img-quienesomos {
    position: absolute;
    top: 0%;
    width: 50%;
    max-height: 100vh;
}


.tittle-quienesomos {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: #975C58;
}


.parrafo-quienesomos {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #3E3E3E;
    padding-top: 1em;
}

.btn-reserva a {
    text-decoration: none;
    color: #fff;
}

.btn-div {
    margin-top: 1em;
    position: absolute;
    left: -10%;
    top: 90%;
    margin: 3em;
}

.btn-reserva {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #827777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}*/

/* ---------------------------- FIN QUIENES SOMOS --------------------------- */

/* -------------------------- INICIO MATERIALES CEL ------------------------- */


.header-index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4c1c0;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 0;
    width: 100%;
}

.text-header {
    font-weight: bold;
    color: #975C58;
    font-size: 30px;
    margin: auto;
}

.textos-materialescel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em;
}

.tittle-materialescel {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: #3E3E3E;
    display: flex;
    align-content: center;
}


.parrafo-materialescel {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #3E3E3E;
    padding-top: 1em;
}


.btn-reservacel2 a {
    text-decoration: none;
    color: #fff;
}

.btn-reservacel2 {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #827777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

@media (min-width: 320px) and (max-width: 1280px) {



    .rectangulo {
        display: none;
    }


    .logo {
        display: none;
    }



}


/* --------------------------- FIN MATERIALES CEL --------------------------- */

/* ------------------------ INICIO MATERIALES DESKTOP ----------------------- */

@media (min-width: 1280px) and (max-width: 3000px) {

    .img-header {
        position: absolute;
        top: 0%;
        width: 50%;
        max-height: 100vh;
    }

    .textos-materialescel {
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 60%;
        top: 45%;
        right: 5%;
        margin: 3em;
    }


    .parrafo-materialescel {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #3E3E3E;
        padding-top: 1em;
    }

    .header-index {
        position: absolute;
        top: 20%;
        left: 60%;
        background-color: #fff;

    }

    .text-header {
        padding-bottom: 6px;
    }

    .btn-wsp {
        position: fixed;
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 30px;
        right: 30px;
        background-color: #0df053;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        z-index: 100;
    }
    
    .btn-wsp:hover {
        text-decoration: none;
        color: #0df053;
        background-color: #fff;
    }

}
















/* ------------------------- FIN MATERIALES DESKTOP ------------------------- */










/* ---------------------------- INICIO MATERIALES --------------------------- */

/*.section-materiales {
    min-height: 100vh;
    min-width: 100vw;
}

.textos-materiales {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 60%;
    top: 45%;
    right: 5%;
    margin: 3em;
}

.img-materiales {
    position: absolute;
    top: 0%;
    width: 50%;
    max-height: 100vh;
}


.tittle-materiales {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: #3E3E3E;
}


.parrafo-materiales {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #3E3E3E;
    padding-top: 1em;
}


.btn-reserva a {
    text-decoration: none;
    color: #fff;
}

.btn-div {
    margin-top: 1em;
    position: absolute;
    left: -10%;
    top: 90%;
    margin: 3em;
}

.btn-reserva {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #827777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}


.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}*/

/* ----------------------------- FIN MATERIALES ----------------------------- */




/*Css aplicado en la pagina de Contacto*/

.fondo_contact {
    background-image: url(../assets/imagen2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.titlecontact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFFAB;
    border-radius: 100px;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    height: 900px;
}

.titlecontact>h2 {
    font-family: 'Dancing Script', cursive;
    color: #975C58;
}

.titlecontact>img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 2px solid white;
    object-fit: cover;
    margin-top: 5%;
}


.info5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}


.input-Box4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 700px;
}

.input-Box4>input {
    height: 80px;
    background-color: #F4C1BE;
    box-shadow: 1px 2px 2px rgb(82, 82, 82);
}

.input-Box4>textarea {
    background-color: #F4C1BE;
    box-shadow: 1px 2px 2px rgb(82, 82, 82);
    height: 200px;
    width: 700px;
}

.input-Box6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.input-Box6>input {
    background-color: #975C58;
    ;
    border: white;
    width: 200px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    ;
}


#verticle-line {
    margin-top: 100px;
    width: 3px;
    height: 600px;
    background-color: #F4C1BE;
}


.instagram-app {
    margin-top: 1%;
}

.facebook-app {
    margin-top: 5%;
}

.fa-brands {
    color: #975C58;
    ;
}

.instagram-app>a {
    color: #F4C1BE;
    text-decoration: none;
    font-size: 2rem;
}

.facebook-app>a {
    color: #F4C1BE;
    text-decoration: none;
    font-size: 2rem;
}


/*Css aplicado en pagina de Contacto2*/

.contenedor-contacto {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.div4 {
    margin-left: 2%;
    margin-top: 5%;
}

.div4>h2 {
    font-family: 'Dancing Script', cursive;
    color: #975C58;
}



.div3>img {
    margin-top: 1%;
    width: 600px;
    height: 800px;
    object-fit: cover;
    border-radius: 10px;
}

.div3 {
    margin-right: 3%;
}

.input-Box {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;
}

.input-Box>input {
    height: 65px;
    background-color: #FFF4F3;
    box-shadow: 1px px 2px rgb(82, 82, 82);
}

.input-Box>textarea {
    background-color: #FFF4F3;
    box-shadow: 1px px 2px rgb(82, 82, 82);
    height: 150px;
}

.input-Box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.input-Box2>input {
    background-color: #975C58;
    ;
    border: white;
    width: 200px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    ;
}

input {
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
    border-radius: 15px;
}

textarea {
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
    border-radius: 10px;
    resize: none;
    height: 250px;
    width: 500px;
}

textarea:focus {
    border: solid #F4C1BE;
    color: grey;
}

input:focus {
    border: solid #F4C1BE;
    color: grey;
}

.input1 {
    background-color: #975C58;
    border: white;
    width: 200px;
}

.input1:hover {
    border: solid 1px black;
}

/*Css aplicado a pagina de Dolce Vita*/

.contenedor_DolceVita {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div5 {
    margin-left: 10%;
    margin-top: 1%;
}

.div5>img {
    margin-top: 1%;
    width: 600px;
    height: 800px;
    object-fit: contain;
    border-radius: 10px;
}

.logos2 {
    display: flex;
    gap: 25px;
}

.logos2>a {
    font-size: 40px;
}


.contenedor_formfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
}

.input-Box3 {
    width: 700px;
}

.text-footer3 {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-Box3 {
    display: flex;
    flex-direction: column;
}

.text-footer3>p {
    font-size: 1.5rem;
}

/*Css aplicado al footer de la pagina general*/

.contenedor_logos {
    display: flex;
    gap: 20px;
    margin-top: 3%;
    margin-left: 5%;
}

.contenedor_logos>h3 {
    font-family: 'Dancing Script', cursive;
    color: #975C58;
    font-size: 3rem;
}

.contenedor_logostext {
    margin-left: 5%;
}

.contenedor_logostext>p {
    color: #975C58;
    font-family: 'Montserrat', sans-serif;
}

.footerstyle {
    background-color: #F4C1BE;
}

.contenedor_imgs {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 1%;
    margin-left: 5%;
}

.contenedor_imgs>p {
    font-family: 'Montserrat', sans-serif;
    color: #975C58;
    margin-top: 1%;
}

.contenedor_imgs>img {
    object-fit: contain;
}

.input-Box0 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.input-Box0>input {
    width: 70%;
    background-color: white;
    border: none;
}

.input-Boxx1>input {
    background-color: #975C58;
    border: white;
    width: 200px;
    box-shadow: 1px 3px 2px #333;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/**/

.div6>h2 {
    font-family: 'Dancing Script', cursive;
    color: #975C58;
    font-size: 3rem;
}

.info2>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

/*Mis favoritos css*/

.card-img-top1 {
    height: 62%;
}

.section_favorites {
    margin-top: 2%;
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    display: flex;
    gap: 10px;
}

.section_favorites>i {
    margin-top: 8px;
}

.card {
    width: 380px;
    height: 90%;
    border: solid 3px #FFF4F3;
    background-color: #FFF4F3;
    border-radius: 20px;
    box-shadow: 2px 4px 2px rgb(184, 184, 184);
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.card>img {
    padding-right: 1%;
    object-fit: cover;
    border-radius: 20px;
}

.card-body {
    background-color: #FFF4F3;
    border-radius: 20px;
}

.card-body>h5 {
    color: #975C58;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-Box5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.input-Box5>input {
    background-color: #975C58;
    border: none;
    width: 200px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*Css Seccion Favoritos 2*/

.section_favorites2 {
    margin-top: 2%;
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    display: flex;
    gap: 10px;
}

.section_favorites2>i {
    margin-top: 8px;
}

.contenedor_favorites2 {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: 300px;
    gap: 20px;
    width: 40%;
    margin-left: 5%;
}


.galeria_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria_item:nth-child(2) {
    grid-column-start: span 1;
    grid-row-start: span 2;
}