@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Didact+Gothic&family=Kaushan+Script&family=Lilita+One&family=Lobster&family=Merriweather&family=Montserrat:wght@100;400&family=Oleo+Script&family=Questrial&family=Silkscreen&family=Splash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------- CSS BIENVENIDA ----------------------------- */

.fondo-bienvenida {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #f5e5e4;
    position: absolute;
    top: 0%;
    z-index: 50;
}

.frase-bienvenida {
    position: absolute;
    z-index: 150;
    top: 40%;
    left: 33%;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 70px;
}

.frase-bienvenida a {
    text-decoration: none;
    color: #975C58;
}

@media (min-width: 320px) and (max-width: 1280px) {

    .fondo-bienvenida {
        width: 100%;
        max-width: 100vw;
        max-height: 100vh;
    }

    .frase-bienvenida {
        position: absolute;
        left: 3em;
        font-size: 30px;
    }

    .header {
        display: none;
    }

}

/* -------------------------------- CSS HEADER ------------------------------- */

.rectangulo {
    width: 100%;
    height: 100px;
    background-color: #f4c1c0;
    position: absolute;
    z-index: 100;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;

}



.logo {
    width: 8%;
    border-radius: 300px;
    position: absolute;
    top: 30%;
    left: 45%;
    z-index: 150;
}


.navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 10em;
    padding-top: 10em;
    z-index: 3;
}


nav ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
}

nav ul li a {
    color: #f4c1c0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a:hover {
    color: #975C58;
    transition: .3s;
}

/* ------------------------ INICIO DOLCE VITA CELULAR ----------------------- */

.img-header {
    width: 100%;
    z-index: 1;
}

.textos-dolcecel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em;
}

.tittle-dolcecel {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: #975C58;
}

.parrafo-dolcecel {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #3E3E3E;
    padding-top: 1em;
}

/* ------------------------- FIN DOLCE VITA CELULAR ------------------------- */

/* ------------------------ INICIO DOLCE VITA DESKTOP ----------------------- */

@media (min-width: 1200px) and (max-width: 3000px) {

    .header-index {
        position: absolute;
        top: 20%;
        left: 55%;
        background-color: #fff;
        max-width: 100vw;
        width: 45%;
        padding-left: 3em;
    }

    .img-header {
        z-index: 2;
        position: absolute;
        top: 0%;
        width: 50%;
        max-height: 100vh;
    }

    .textos-dolcecel {
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 60%;
        top: 28%;
        right: 5%;
        margin: 3em;
    }


    .parrafo-dolcecel {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #3E3E3E;
        padding-top: 1em;
    }


    .text-header {
        padding-bottom: 6px;
    }

    .btn-wsp {
        position: fixed;
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 30px;
        right: 30px;
        background-color: #0df053;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        z-index: 100;
    }

    .btn-wsp:hover {
        text-decoration: none;
        color: #0df053;
        background-color: #fff;
    }

    .btn-reservacel {
        font-family: 'Montserrat', sans-serif;
        padding: 10px 20px;
        font-size: 15px;
        background-color: #827777;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 40px;
        margin-top: 10px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        color: #FFF;
    }
}

/* ------------------------- FIN DOLCE VITA DESKTOP ------------------------ */
/* ---------------------- INICIO QUIENES SOMOS CELULAR ---------------------- */

.header-index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4c1c0;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    width: 100%;
}

.text-header a {
    font-weight: bold;
    color: #975C58;
    font-size: 30px;
    margin: auto;
}

.text-header a:hover {
    color: #f4c1c0;
    text-decoration: underline;
    transition: all 0.5s;
}


.img-header {
    width: 100%;
    z-index: 1;
}

.textos-quienesomoscel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em;
}

.tittle-quienesomoscel {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: #975C58;
}

.parrafo-quienesomoscel {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #3E3E3E;
    padding-top: 1em;
}

.btn-reservacel {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #827777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

@media (min-width: 320px) and (max-width: 1280px) {



    .rectangulo {
        display: none;
    }


    .logo {
        display: none;
    }



}

/* ------------------- FIN QUIENES SOMOS CELULAR ------------------ */

/* ------------------- INICIO QUIENES SOMOS DESKTOP ------------------ */



@media (min-width: 1200px) and (max-width: 3000px) {

    .header-index {
        position: absolute;
        top: 20%;
        left: 55%;
        background-color: #fff;
        max-width: 100vw;
        width: 45%;
        padding-left: 3em;
    }

    .img-header {
        position: absolute;
        top: 0%;
        width: 50%;
        max-height: 100vh;
    }

    .textos-quienesomoscel {
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 60%;
        top: 40%;
        right: 5%;
        margin: 3em;
    }


    .parrafo-quienesomoscel {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #3E3E3E;
        padding-top: 1em;
    }


    .text-header {
        padding-bottom: 6px;
    }

    .btn-wsp {
        position: fixed;
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 30px;
        right: 30px;
        background-color: #0df053;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        z-index: 100;
    }

    .btn-wsp:hover {
        color: #0df053;
        background-color: #fff;
    }

}






/* ------------------- FIN QUIENES SOMOS DESKTOP ------------------ */
/* ------------------------------ INICIO TALLES ----------------------------- */
.contenedor_talles{
    margin-left: 5%;
    margin-top:5%;

}

.talles1{
    display: flex;
    flex-direction: row;
    gap: 1%;   
}
.talles2{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    gap: 3%;   
}

.talles3{
    margin-top: 2%;
    display: flex;
    gap: 25%;
}

.talles3 img {
padding-right: 4em;
}


.talles_content{
    display: flex;
    flex-direction: row;
    gap: 26px;
}

.talles4{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    gap: 27px;
}


.talles1 > p{
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #3E3E3E;
}


.talles1 > h2{
    font-family: 'Dancing Script', cursive;
    color: #975C58;
}
.talles2 > h2, .talles_content > h2, .talles4 > h2, .talles5 > h2, .talles3_0 > h2{
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    color: #975C58;
}

.contenedor_hr0 > hr{
    height: 3px;
    color:#975C58;
    width: 40%;
}
.contenedor_hr > hr{
    height: 3px;
    color:#975C58;
    width: 80%;
    border-color: #975C58;
}

.talles5{
    margin-top: 3%;
}

.div_edades{
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.imagentalles{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagentalles > img{
    width: 600px;
    height: 500px;
}

.button_back{
    margin-left: 4%;
    margin-top: 3em;
    margin-bottom: 2em;
}

.btn-volver {

    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #827777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
}
/* ------------------------------- FIN TALLES ------------------------------- */
/* -------------------------- INICIO TALLES CELULAR ------------------------- */

@media (min-width: 380px) and (max-width:960px) {

.contenedor_talles {
    display: flex;
flex-direction: column;
}

.talles_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.talles4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.imagentalles > img {
    width: 100%;
    height: auto;
}
}

/* --------------------------- FIN TALLES CELULAR --------------------------- */
/* -------------------------- INICIO VESTIDOS DESKTOP-------------------------- */

.col {
    padding: 0;
    margin: 0;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 380px;
    height: 70%;
    border: solid 3px #FFF4F3;
    background-color: #FFF4F3;
    border-radius: 20px;
    box-shadow: 2px 4px 2px rgb(184, 184, 184);
    margin-top: 20em;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.card>img {
    padding-right: 1%;
    object-fit: cover;
    border-radius: 20px;
}


.card-body {
    background-color: #FFF4F3;
    border-radius: 20px;
    height: 30px;
}

@media (min-width: 380px) and (max-width: 960px) {
    .card-body {
        height: 80px;
    }
}

.card-body>h5 {
    color: #827777;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-Box5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    z-index: 5;
}

.btn-stock {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #827777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
}

/* ------------------------ FIN MIS FAVORITOS DESKTOP ----------------------- */

/* ------------------------ INICIO VESTIDOS CELU ----------------------- */

@media (min-width: 380px) and (max-width: 1000px) {


    .header-index {
        z-index: 2;
    }


    .col {
        position: absolute;
        top: 3px;
    }

    .card {
        margin-top: 14em;
    }

}

/* ------------------------- FIN MIS FAVORITOS CELU ------------------------- */

/* ------------------------------ QUIENES SOMOS ----------------------------- */

/*.section-quienesomos {
    min-height: 100vh;
    min-width: 100vw;
}
.textos-quienesomos {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 60%;
    top: 45%;
    right: 5%;
    margin: 3em;
}
.img-quienesomos {
    position: absolute;
    top: 0%;
    width: 50%;
    max-height: 100vh;
}
.tittle-quienesomos {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: #975C58;
}
.parrafo-quienesomos {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #3E3E3E;
    padding-top: 1em;
}
.btn-reserva a {
    text-decoration: none;
    color: #fff;
}
.btn-div {
    margin-top: 1em;
    position: absolute;
    left: -10%;
    top: 90%;
    margin: 3em;
}
.btn-reserva {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #827777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}
.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}*/

/* ---------------------------- FIN QUIENES SOMOS --------------------------- */

/* -------------------------- INICIO MATERIALES CEL ------------------------- */

.img-header {
    width: 100%;
}

.text-header {
    font-weight: bold;
    color: #975C58;
    font-size: 30px;
    margin: auto;
}

.textos-materialescel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em;
}

.tittle-materialescel {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: #3E3E3E;
    display: flex;
    align-content: center;
}


.parrafo-materialescel {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #3E3E3E;
    padding-top: 1em;
}


.btn-reservacel2 a {
    text-decoration: none;
    color: #fff;
}

.btn-reservacel2 {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #827777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

@media (min-width: 320px) and (max-width: 1280px) {



    .rectangulo {
        display: none;
    }


    .logo {
        display: none;
    }



}


/* --------------------------- FIN MATERIALES CEL --------------------------- */

/* ------------------------ INICIO MATERIALES DESKTOP ----------------------- */

@media (min-width: 1200px) and (max-width: 3000px) {

    .img-header {
        position: absolute;
        top: 0%;
        width: 50%;
        max-height: 100vh;
    }

    .textos-materialescel {
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 60%;
        top: 45%;
        right: 5%;
        margin: 3em;
        top: 40%;
    }


    .parrafo-materialescel {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #3E3E3E;
        padding-top: 1em;
    }


    .text-header {
        padding-bottom: 6px;
    }

    .btn-wsp {
        position: fixed;
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 30px;
        right: 30px;
        background-color: #0df053;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        z-index: 100;
    }

    .btn-wsp:hover {
        text-decoration: none;
        color: #0df053;
        background-color: #fff;
    }

}


/* ------------------------- FIN MATERIALES DESKTOP ------------------------- */

/* ------------------------------ FOOTER PAGES ------------------------------ */

.footerstyle-materiales,
.footerstyle-quienes,
.footerstyle-dolce {
    z-index: 100;
    background-color: #F4C1BE;
    position: absolute;
    top: 100%;
    width: 100%;
}

@media (min-width: 1800px) and (max-width: 3000px) {

    .footerstyle-materiales,
    .footerstyle-quienes,
    .footerstyle-dolce {
        position: absolute;
        top: 98%;
        width: 100%;
    }


}



    @media (min-width: 300px) and (max-width: 900px) {
        .footerstyle-dolce{
            position: absolute;
            top: 180%;
            min-width: 100vw;
        }


    .footerstyle-materiales {
        position: absolute;
        top: 180%;
        min-width: 100vw;
    }

    .footerstyle-quienes {
        position: absolute;
        top: 153%;
        min-width: 100vw;
    }

    }








    /* -------------------------------- FIN PAGES ------------------------------- */

    /* --------------------------------- FOOTER VESTIDOS--------------------------------- */

    .ver-talles{
        color: #975C58;
    }

    .ver-talles:hover {
        color: #F4C1BE;
        transition: all 0.5s;
    }



    .fa-instagram,
    .fa-facebook {
        color: #827777;
        font-size: 40px;
        margin-top: 14px;
        padding-left: 0.5em;
    }


    .contenedor_logos {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 15px;
        margin-left: 5%;
    }

    .contenedor_logos>h3 {
        font-family: 'Dancing Script', cursive;
        color: #827777;
        font-size: 3rem;
    }


    .footerstyle {
        z-index: 100;
        background-color: #F4C1BE;
        position: absolute;
        top: 1120%;
        width: 100%;
    }

    .contenedor_imgs {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 30px;
        margin-top: 1%;
        margin-left: 5%;
    }

    .contenedor_imgs>p {
        font-family: 'Montserrat', sans-serif;
        color: #827777;
        margin-top: 1%;
    }

    .contenedor_imgs>img {
        object-fit: contain;
    }

    /* ----------------------- INICIO FOOTER MEDAS QUERIES ---------------------- */


    /* -------------------------------- DESKTOP -------------------------------- */

    @media (min-width: 1800px) and (max-width: 3000px) {

        .footerstyle {
            position: absolute;
            top: 350%;
        }

    }


    @media (min-width: 1000px) and (max-width: 1800px){

        .footerstyle {
            position: absolute;
            top: 440%;
        }

    }
    /* ------------------------------- FIN DESKTOP ------------------------------ */

    @media (min-width: 360px) and (max-width: 1200px) {

        .contenedor_imgs>p {
            display: none;
        }

        .contenedor_imgs {
            display: flex;
            justify-content: center;
        }


        .fa-instagram,
        .fa-facebook {
            color: #975C58;
        }

        .contenedor_logos {
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
        }


        .contenedor_logos>h3 {
            display: none;
        }

    }

    /* ------------------------ FIN FOOTER MEDIAS QUERIES ----------------------- */

    /* ------------------------------- FIN FOOTER ------------------------------- */

    /* ---------------------------- INICIO MATERIALES --------------------------- */

    /*.section-materiales {
    min-height: 100vh;
    min-width: 100vw;
}
.textos-materiales {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 60%;
    top: 45%;
    right: 5%;
    margin: 3em;
}
.img-materiales {
    position: absolute;
    top: 0%;
    width: 50%;
    max-height: 100vh;
}
.tittle-materiales {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: #3E3E3E;
}
.parrafo-materiales {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #3E3E3E;
    padding-top: 1em;
}
.btn-reserva a {
    text-decoration: none;
    color: #fff;
}
.btn-div {
    margin-top: 1em;
    position: absolute;
    left: -10%;
    top: 90%;
    margin: 3em;
}
.btn-reserva {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #827777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}
.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}*/

    /* ----------------------------- FIN MATERIALES ----------------------------- */